<head>
    <title>Todo List</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="container">
        {{> header}} {{> todos}} {{> form}}
    </div>
</body>