/*csslint ids: false, box-model: false, fallback-colors: false, duplicate-background-images: false*/


/*line through task when completed*/

.completed {
    text-decoration: line-through
}


/*background for icon*/

.secondary-content {
    background-image: url(http://tr1.cbsistatic.com/hub/i/2015/05/07/d2f74d35-f4ad-11e4-940f-14feb5cc3d2a/03052013figure-d.gif);
}

.secondary-content a {
    margin: 0 0.5em;
}
/*color of complete task icon*/
.complete-task {
    color: #077607;
}
/*color of incomplete task icon*/
.incomplete-task {
    color: #eb0909;
}

i {
    cursor: pointer;
}

.center-button {
    text-align: center;
}

.input-field {
    margin: 0 auto;
    width: 75%;
}

html {
    background-image: url(http://cdn.wonderfulengineering.com/wp-content/uploads/2014/04/space-wallpapers-3.jpg);
    background-size: cover;
}

li {
    background-image: url(http://tr1.cbsistatic.com/hub/i/2015/05/07/d2f74d35-f4ad-11e4-940f-14feb5cc3d2a/03052013figure-d.gif);
}

h1 {
    color: aqua;
}

input {
    background-image: linear-gradient(rgba(190, 190, 190, 0.99), rgba(3, 8, 10, 0.6));
    color: rgba(212, 237, 9, 0.92);
}

p {
    color: yellow;
}